// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card-container {
  padding-top: 120px;
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card {
  width: 20%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.card > p {
  font-size: 12px;
}

.banner {
  color: rgb(196, 196, 196);
  background-color: rgb(68, 68, 68);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

h3 {
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(87, 87, 87);
  font-weight: 800;
}

.rating {
  font-weight: bold;
}

.btn-primary {
  color: white;
}

.btn-info:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(137, 218, 147);
  border: 1px solid black;
}
